**/.vscode/

.classpath
.project
.gitignore

aoc2021/bin/

# scala stuff
.metals/
practice2019/.bloop/
practice2019/.metals/
practice2019/.vscode/
practice2019/project/build.properties
practice2019/project/.bloop/
practice2019/project/project/
practice2019/project/target/
practice2019/project/metals.sbt
practice2019/target
practice2019/build.sbt

aoc2022/scrape.py