.metals/
.vscode/
aoc2021/bin/
aoc2021/
practice2019/.bloop/
practice2019/.metals/
practice2019/.vscode/
practice2019/project/.bloop/
practice2019/project/project/
practice2019/project/target/
practice2019/project/metals.sbt
practice2019/target
.classpath
.project
.gitignore